body{background-color: blue;}
h1{text-align: center;
color: gold;
font-size: 300%;
}
h2{color: lightyellow;
border-style: double;
border-width: 5px;
border-color: black;
margin-right: 75%
}
#img1{width: 65%; ;
margin-left: 20%;
}
h3{font-size: 250%;}
